
.slick-slide img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Define el ancho máximo deseado */
    max-height: 100%; /* Define la altura máxima deseada */
    object-fit: cover; /* Cubre completamente el área del contenedor */

    border-radius: 15px;
  }
  